<ion-header>
	<ion-navbar>
		<ion-title text-center>LIVE APPOINTMENTS</ion-title>
	</ion-navbar>
</ion-header>
<ion-content class="content">
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content refreshingSpinner="circles" refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>
	<div class="main-div" *ngIf="length">
		<div class="card-content" *ngFor="let feed of feedList" (click)="gotoLiveStatus(feed)">
			<span class="token-span">You are behind {{feed.position-1}} person!</span>
			<ion-card>
				<ion-card-content>
					<ion-row>
						<ion-col col-7>
							<h4 class="doctor-name-left"><strong style="text-transform:uppercase;">DR. {{feed?.doctor?.name}}</strong></h4>
							<p class="doctor-type-left" style="text-transform:capitalise;">{{feed?.doctor?.specialization}}</p>
						</ion-col>
						<ion-col col-5>
							<h4 class="doctor-name-right"><strong>PATIENT NAME</strong></h4>
							<p class="doctor-type-right" style="text-transform:capitalise;">{{feed?.patient?.name}}</p>
						</ion-col>
						<div class="line"></div>
						<span class="time"><strong>{{formatDate(feed.date)}} | {{filterTime(feed.time)}}</strong></span>
					</ion-row>
				</ion-card-content>
			</ion-card>
			<br>
		</div>
	</div>
	<ion-row class="image-row" *ngIf="!length">
		<ion-col class="image-col" col-12><img src="assets/imgs/patientstatus.png"></ion-col>
		<ion-col class="image-text" col-12>Your live appointment's appears here !</ion-col>
	</ion-row>
</ion-content>