.label-md{
    padding-top:2px;
    margin:10px 8px 13px 0;
}

.primary{
    color: #35ddde;
}

.toolbar-background-md {
    border-color:#35ddde;
    background: #35ddde;
    color:#fff;
}
.toolbar-title-md {
    color: aliceblue;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0px solid #dedede;
}
.toolbar-ios ion-title{
    padding: 0;
    text-transform: uppercase;
}
ion-title{
    text-transform: uppercase;
}
.button-shadow{
    box-shadow: 3px 3px 10px grey;
}

.location-icon{
    padding: 4px 5px;
    background: #2f805f;
    color: #fff;
    border-radius: 50%;
}

.alert-md .alert-sub-title {
    font-size: 14px;
}
.alert-md .alert-title {
    font-size: 20px;
    margin-bottom: 14px;
}
.alert-md .alert-button-group {
    padding: 0px 8px 8px 24px;
}

.tabs-md .tab-button[aria-selected=true] {
    color: #fff !important;
    background: #0072bb !important;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon{
    color:#fff !important;
}
.tabs-md .tab-button {
    color: #fff !important;
    background: #35c2dd !important;
}

.tabs-md .tab-button-icon{
    color: #fff !important;
}

.alert-md .alert-wrapper {
    border-radius: 20px !important;
    min-width: 85% !important;
}
.alert-head {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    padding: 20px 24px 10px !important;
    background: #35c2dd !important;
    color: #fff !important;
}
.alert-title u{
    text-decoration: none !important;
}
.alert-md .alert-message, .alert-md .alert-input-group {
    padding: 24px 20px 24px !important;
    text-align: center;
}

.alert-md .alert-button-group {
    padding: 10px 8px 8px 8px !important;
}
button.disable-hover.alert-button.alert-button-md.alert-button-default.alert-button-default-md {
    background: #2cd7dc!important;
    color: #fff !important;
    position: relative !important;
    left: -15% !important;
    border-radius: 20px !important;
    min-width: 90px;
}
.alert-md .alert-radio-group, .alert-md .alert-checkbox-group {
    position: relative !important;
    top: -20px !important;
    border-top: 0px !important;
    padding-bottom: 20px !important;
}
.alert-md .alert-button .button-inner {
    text-align: center !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    display: -webkit-box;
}
.alert-md .alert-title {
    text-align: center;
}
button.disable-hover.alert-button.alert-button-md.ok_button.alert-button-default.alert-button-default-md {
    text-align: center;
    margin: auto;
    position: relative !important;
    left: 0% !important;
}

 .alertcss{
    position: relative !important;
    left: -30% !important;
}